<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">

        <link rel="icon" href="/o.ico">

        <link rel="stylesheet" href="{{ '/assets/style.css' | absolute_url }}">
        <script src="{{ '/assets/script.js' | absolute_url }}" charset="utf-8"></script>

        <title>oltdaniel{% if page.title %} - {{ page.title }}{% endif %}</title>

        <meta name="description" content="{% if page.excerpt %}{{page.excerpt | strip_html | strip_newlines}}{% else %}{{site.description}}{% endif %}">
        {% if page.date %}
        <meta property="article:published_time" content="{{ page.date | date_to_xmlschema }}">
        {% endif %}
        {% if page.author %}
        <meta property="article:author" content="{{ page.author }}" />
        {% endif %}

        <meta name="google" content="nositelinkssearchbox">
        <meta name="google" content="notranslate">
        <meta name="googlebot" content="index,follow">
        <meta name="robots" content="index,follow">
    </head>
    <body>
        {{ content }}

        <footer>
            <span>Copyright (C) {{ 'now' | date: '%Y' }}  Daniel Oltmanns</span><br>
            <a href="{{ '/pgp.html' | absolute_url }}">PGP</a>
        </footer>
    </body>
</html>
