---
layout: page
---
{% assign words_in_article = page.content | number_of_words %}

<post-container>
    <a href="/">go back</a>
    <h2>{{ page.title }}</h2>
    <post-meta>
        <time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%-d %B %Y" }}</time>
        with <words>{{ words_in_article }}</words> words
        (<reading-time>{{ words_in_article | divided_by: 200 }}</reading-time> minute(s) to read)
    </post-meta>
    {{ content }}
    <a href="#">go top</a>
</post-container>
